/* ############## HEADER ############## */

header {
  background: #f7f7f7;
}

.info h1 {
  text-align: center;
}

.info .info_h2 {
  margin-left: 10%;
  margin-top: 40px;
  text-align: center;
  width: 80%;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  -webkit-text-fill-color: #f9452e;
}

.description {
  text-align: center;
  margin-top: 50px;
}

.second-p {
  width: 60%;
  margin: 20px auto;
}

.mail {
  margin-top: 20px;
  font-size: 1.4rem;
  border-bottom: 2px solid black;
}

.info .info_border {
  background-color: #fff;
  border: 2px solid #d3d3d3;
  margin: 20px auto;
}

/* ############## PAST Logo ############## */
.past_logo {
  border-bottom: 2px solid #ededed;
}

.past_logo img {
  width: 300px;
  padding: 20px 80px;
  border: 2px solid #ededed;
  margin: 50px auto;
}

/* ############## PAST SUMIT ############## */

body {
  background: #fff;
}

.past_sumit {
  margin-top: -100px;
  padding-bottom: 150px;
}

.past_sumit-title {
  margin-top: 120px;
  text-align: center;
  color: #272a31;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.inside-past_sumitm {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.intro-past_sumit {
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
}

.intro-hiden {
  display: none;
}

.buenos {
  width: 90%;
  margin: 30px auto;
  background-color: #972a16;
  background-image: linear-gradient(to right, rgba(151, 42, 22, 0.6), rgba(151, 42, 22, 0.6)), url(../img/Show-Jumping-2021.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.buenos:hover {
  background-image: linear-gradient(to right, rgba(151, 42, 22, 0.3), rgba(151, 42, 22, 0.3)), url(../img/Show-Jumping-2021.webp);
}

.inside-buenos {
  padding-top: 150px;
  padding-bottom: 150px;
  color: #d3d3d3;
}

.warsaw {
  width: 90%;
  margin: 30px auto;
  background-color: #972a16;
  background-image: linear-gradient(to right, rgba(151, 42, 22, 0.6), rgba(151, 42, 22, 0.6)), url(../img/dressage_2020.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.warsaw:hover {
  background-image: linear-gradient(to right, rgba(151, 42, 22, 0.3), rgba(151, 42, 22, 0.3)), url(../img/dressage_2020.jpg);
}

.inside-warsaw {
  padding-top: 150px;
  padding-bottom: 150px;
  color: #d3d3d3;
}

.sumit-year {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.sumit-intro {
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

/* ############## PARTNER ############## */

.partner {
  display: block;
  background: #414246;
  border-radius: 100px 0 0 0;
  margin-top: -100px;
}

.partner_title {
  padding-top: 50px;
  color: #d3d3d3;
  text-align: center;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.ul-partner {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}

.ul-partner li {
  flex-direction: row;
}

.icone_partner {
  width: auto;
  height: 30px;
}

/* ############## RIGHTS ############## */

.rights {
  background: #f2f2f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rights .logo-section {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #272727;
}

.text-logo {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.logo {
  width: 50px;
}

@media (min-width: 768px) {
  header {
    border-bottom: 2px solid #ededed;
  }

  .info h1 {
    display: none;
  }

  .info h2 {
    margin-top: 100px;
  }

  .second-p {
    margin-top: 80px;
  }

  .intro-hiden {
    display: inline;
  }

  /* ############## PAST SUMIT ############## */
  .inside_inside-past_sumitm {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .intro-past_sumit {
    width: 70%;
    margin: 30px auto 10px auto;
  }

  .past_sumit {
    padding-bottom: 50px;
  }

  .partner {
    display: none;
  }

  .rights {
    background-color: #2e2e2e;
    color: #fff;
  }

  .rights .logo-section {
    color: #fff;
  }
}
